@keyframes show-notification {
  from {
    left: 200px;
    opacity: 0;
  }

  to {
    opacity: 1;
    left: 0;
  }
}

#notifications-list {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 25px;

  &:not(:has(.notification)) {
    display: none;
  }

  button {
    cursor: pointer;
    transition: .3s;

    &:hover {
      background-color: #4a4a7c !important;
      color: white;
    }
  }

  &__close-all {
    width: 100%;
    background-color: #f3f3f3;
    box-shadow: 0px 0px 25px 0px #00000035;
    border-radius: 8px;
    text-align: center;
    border: none;
    font-weight: 600;
    padding: 8px;
  }

  .notification {
    position: relative;
    animation: show-notification .5s linear;
    display: flex;
    gap: 8px;
    margin-bottom: 20px;
    background-color: #f3f3f3;
    padding: 12px;
    align-items: center;
    border-radius: 8px;
    justify-content: space-between;
    width: 250px;
    box-sizing: border-box;
    box-shadow: 0px 0px 25px 0px #00000035;
    border-bottom-right-radius: 24px;

    &__close {
      border-radius: 20px;
      height: 30px;
      aspect-ratio: 4/4;
      background-color: transparent;
      border: none;
      margin-top: auto;
    }

    &__message {
      margin: 0;
      word-break: break-all;
    }
  }
}