$shadow: 0px 0px 5px 0px #00000040;

#todo {
  padding: 100px;
  max-width: 900px;
  box-sizing: border-box;
  width: 100%;
  margin: auto;

  .form {
    $filter-color: #f7f7f7;

    border-radius: 12px;
    border: 1px solid $filter-color;
    background-color: $filter-color;
    padding: 12px;

    &__field {
      margin-bottom: 12px;
      display: flex;
      gap: 4px;
      flex-direction: column;
    }

    &__button {
      outline: none;
      border: none;
      background-color: #f7f7f7;
      border-radius: 6px;
      padding: 6px 12px;
      cursor: pointer;
      transition: background-color .2s ease-in-out;
      box-shadow: $shadow;

      &[type="submit"] {
        background-color: #b6b6ff;

        &:hover {
          background-color: #9a9af1;
        }
      }

      &:hover {
        background-color: #e6e6e6;
      }
    }
  }



  .todo {
    &__list {
      padding: 0;
      list-style: none;
      margin: 0;
      height: 500px;
      overflow: auto;
    }

    &__item {
      margin-bottom: 6px;
      padding: 6px;

      cursor: pointer;
    }
  }
}